
.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px 10px 0 10px;
}

@media (max-width: 600px) {
    .buttons {
        gap: 0;
        grid-template-columns: 1fr;
    }
}

.buttons button {
    margin: 0 10px 10px 10px;
    padding: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    margin: 0 auto 10px;
}

.buttons button:hover {
    font-weight: bold;
    color: black;
}

/* company buttons */
.youtube {
    background-color:#c4302b;
    color: white;
}

.yahoo {
    background-color: #720e9e;
    color: white; 
}

.wikipedia {
    background-color: white; 
    color: black;
}

.reddit {
    background-color: #FF4300;
    color: white; 
}

.airbnb {
    background-color: #FF5A5F;
    color: white; 
}

.buzzfeed {
    background-color: #ee3322;
    color: white; 
}

.linkedin {
    background-color: #0072b1;
    color: white; 
}

.bloomberg {
    background-color: #0068ff;
    color: white; 
}