.footer {
    padding: 0 0 20px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .note {
    color: var(--highlight-color);
}

.footer .note a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.footer .note a:hover {
    color: var(--highlight-color);
}

.footer .scroll {
    display: none;
}

@media (max-width: 600px) {
    .footer .note a {
        text-decoration: underline;
    }

    .footer .scroll {
        display: block;
        position: fixed;
        left: 80;
        right: 0;
        bottom: 0;
        padding: 30px;        
        color: #e53170b2;
    }
}