.home {
    text-align: center;
    background-color: var(--bg-color);
    padding: 20px 0 50px 0;
}

/* texts */
.home .header {
    color: var(--paragraph-color);
}

.home .date {
    color: var(--primary-color);
}

.home .date .animation {
    color: var(--highlight-color);
}

.home .description {
    font-family: 'Quicksand', sans-serif;
    color: var(--paragraph-color);
}

.home .note {
    font-family: 'Quicksand', sans-serif;
    color: var(--tertiary-color);
    font-size: 1rem;
}