.landing {
    text-align: center;
    background-color: var(--bg-color);
    padding: 20px 0 50px 0;
}

/* texts */
.landing__header {
    color: var(--paragraph-color);
}

.landing__date {
    color: var(--primary-color);
}

.landing__date-animation {
    color: var(--highlight-color);
}

.landing__description {
    font-family: 'Quicksand', sans-serif;
    color: var(--paragraph-color);
}