.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 1;
}

.loading .text {
    font-size: 3rem;
    color: white;
    animation: flash 1s alternate infinite;
}

@keyframes flash {
    0%, 10% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}