.navbar {
    width: 100%;
}

.navbar__container {
    padding: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__title {
    color: var(--primary-color);
}

.navbar__toggle {
    color: var(--highlight-color);
}

.navbar__toggle:hover {
    color: var(--primary-color);
}