.navbar {
    width: 100%;
}

.navbar .container {
    padding: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .title {
    color: var(--primary-color);
}

.navbar .toggle {
    color: var(--highlight-color);
}

.navbar .toggle:hover {
    color: var(--primary-color);
}